---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Portafolio de Busid - Desarrollador y Programador Web Junior Fullstack" description="Contrata a busid para crear aplicaciones web únicas.">
	<main
		class="absolute top-0 z-[-2] h-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] w-full"
	>
		<div class="max-w-2xl max-md:w-9/12 mx-auto flex flex-col gap-5">
			<Header />
			<About />
			<Experience />
			<Projects />
			<Contact />
		</div>
		<Footer />
	</main>
</Layout>
