<div id="about" class="w-full mt-32">
  <div class="flex max-sm:gap-y-1">
    <div class="flex flex-col mx-auto">
      <div class="flex items-center justify-between w-full">
        <hgroup class="flex flex-col">
          <h2 class="text-5xl max-sm:text-4xl font-bold text-white p-0 mb-2">
            Hola, soy Busid
          </h2>
          <h1 class="text-2xl font-semibold mb-5 text-indigo-600">
            Backend Developer
          </h1>
        </hgroup>
        <div
          class="flex gap-10 xs:flex-wrap sm:flex-nowrap"
          id="aboutBox"
        >
          <img src="/pfp.png" alt="profile-picture" class="w-40 md:mr-10" />
        </div>
      </div>
      <p class="text-white text-xl w-11/12">
        Especializado en el MERN Stack, me encanta transformar ideas en sitios y
        aplicaciones web funcionales.
      </p>
      <div class="flex w-full items-center gap-6 mt-5">
        <a
          href="https://github.com/busid1"
          class="bg-neutral-900 hover:bg-neutral-800 transition duration-200 px-4 py-0.5 shadow-sm border border-gray-600 rounded-2xl flex items-center gap-3"
          target="_blank"
          title="Mi GitHub"
        >
          <i class="fab fa-github text-xl text-white"></i>
          <span class="text-white font-medium">GitHub</span>
        </a>
        <a
          href="https://www.linkedin.com/in/busid"
          target="_blank"
          title="Mi Linkedin"
          class="bg-blue-700 hover:bg-blue-600 transition duration-200 px-4 py-0.5 shadow-sm border border-blue-500 rounded-2xl flex items-center gap-3"
        >
          <i class="fab fa-linkedin text-xl text-white"></i>
          <span class="text-white font-medium">Linkedin</span>
        </a>
      </div>
    </div>
  </div>
</div>
