---
// Buttons.astro
export interface Props {
  text: string;
}

const { text } = Astro.props as Props;
---

<button
  type="button"
  class="py-2.5 px-5 w-28 text-sm bg-gradient-to-br from-slate-700 to-indigo-700 text-white rounded-lg cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:opacity-80"
>
  {text}
</button>
