---
// Card.astro
export interface Props {
    projectTitle: string;
    projectFrontPage: string;
    projectSkills: string[];
    projectLink: string;
}
const {
    projectTitle,
    projectFrontPage,
    projectSkills = [],
    projectLink,
} = Astro.props as Props;
---

<a href={projectLink} target="_blank"
    class="hover:scale-110 transition duration-300 ease-in-out group relative m-0 flex rounded-xl shadow-xl ring-gray-900/5 cursor-pointer"
>
    <div
        class="z-10 overflow-hidden rounded-xl border border-gray-200 opacity-80 dark:border-gray-700 dark:opacity-70"
    >
        <img
            src={projectFrontPage}
            class="animate-fade-in block transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110"
            alt="projectFrontPage"
        />
    </div>
    <div
        class="absolute bottom-0 z-20 mb-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110"
    >
        <h1 class="font-serif text-2xl font-bold text-white shadow-xl mb-1">
            {projectTitle}
        </h1>
        <div class="flex gap-3">
            {
                projectSkills.map((skill) => (
                    <img class="h-5" src={skill} alt="projectSkill" />
                ))
            }
        </div>
    </div>
</a>
