---
import SectionHeader from "./SectionHeader.astro"
---
<div class="xs:pt-5 sm:pt-10 mb-20" id="contact">
	<SectionHeader text="Contacto"/>
    <div class="flex flex-col gap-4">
        <span class="dark:text-white">Correo electrónico: busid30@gmail.com</span>
    </div>
</div>
