<footer class="shadow bg-indigo-800 mt-24">
    <div class="max-w-2xl max-sm:w-9/12 mx-auto py-2">
        <div class="flex justify-between items-center">
            <a
                href="/"
            >
                <img src="/favicon.png"
                    class="self-center text-2xl w-10 font-semibold whitespace-nowrap dark:text-white"
                    />
            </a>
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Hecho con ❤️ en Astro.</span>
        </div>
    </div>
</footer>
