<header class="flex justify-center w-full mx-auto mt-2">
  <nav class="flex justify-center" id="headerNav">
    <div class="relative flex h-12 items-center justify-center">
      <div class="flex flex-1 items-center justify-evenly">
        <div class="flex justify-evenly items-center w-full" id="navSections">
          <a
            href="#experience"
            class="rounded-full max-sm:px-2 px-4 py-2 sm:text-lg font-medium xs:text-sm text-gray-300 hover:bg-gray-900 hover:text-white"
            >Experiencia</a
          >
          <a
            href="#projects"
            class="rounded-full max-sm:px-2 px-4 py-2 sm:text-lg font-medium xs:text-sm text-gray-300 hover:bg-gray-900 hover:text-white"
            >Proyectos</a
          >
          <a
            href="#contact"
            class="rounded-full max-sm:px-2 px-4 py-2 sm:text-lg font-medium xs:text-sm text-gray-300 hover:bg-gray-900 hover:text-white"
            >Contacto</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    position: fixed;
    z-index: 100;
    left: 0;
  }

  #navSections > a {
    transition: all 0.2s linear;
  }
</style>

<script>
  const navSections = document.querySelector("#navSections");
  const headerNav = document.querySelector("#headerNav");
  let currentSection = "";
  const children = navSections?.children;
  const isScrollY = () => {
    if (children) {
      for (let i = 0; i < children.length; i++) {
        children[i].classList.remove("text-indigo-500");
      }
    }
    if (window.scrollY === 0) {
      headerNav?.classList.remove("bg-neutral-800");
    }
    if (window.scrollY > 0) {
      headerNav?.classList.add("bg-neutral-800", "rounded-full");
    }
    if (window.scrollY >= 300 && window.scrollY <= 600) {
      currentSection = "experience";
      if (children) {
        headerNav?.classList.add("bg-neutral-800", "rounded-full");
        children[0].classList.add("text-indigo-500");
      }
    } else if (window.scrollY >= 600 && window.scrollY <= 1200) {
      currentSection = "projects";
      if (children) {
        children[1].classList.add("text-indigo-500");
        children[0].classList.remove("text-indigo-500");
        children[0].classList.add("text-gray-300");
      }
    } else if (window.scrollY >= 1200) {
      currentSection = "contact";
      if (children) {
        children[1].classList.add("text-gray-300");
        children[2].classList.add("text-indigo-500");
        headerNav?.classList.add("bg-neutral-800", "rounded-full");
      }
    } else {
      currentSection = "";
    }
  };

  isScrollY();
  window.addEventListener("scroll", isScrollY);
</script>
