<header>
  <nav class="bg-indigo-600 bg-opacity-70 sm:w-full md:w-9/12 2xl:w-6/12 px-2">
    <div class="mx-auto max-w-8xl sm:px-3 lg:px-6">
      <div class="relative flex h-12 items-center justify-center">
        <div class="flex flex-1 items-center justify-evenly">
          <div class="flex justify-evenly w-full sm:flex-wrap" id="navSections">
            <a
              href="#about"
              class="rounded-full bg-gray-900 px-4 py-2 sm:text-sm xs:text-xs font-medium text-white"
              aria-current="page">About</a
            >
            <a
              href="#projects"
              class="rounded-full px-4 py-2 sm:text-sm font-medium xs:text-xs text-gray-300 hover:bg-gray-900 hover:text-white"
              >Projects</a
            >
            <a
              href="#skills"
              class="rounded-full px-4 py-2 sm:text-sm font-medium xs:text-xs text-gray-300 hover:bg-gray-900 hover:text-white"
              >Skills</a
            >
            <a
              href="#contact"
              class="rounded-full px-4 py-2 sm:text-sm font-medium xs:text-xs text-gray-300 hover:bg-gray-900 hover:text-white"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    z-index: 100;
  }

  header > nav {
    border-radius: 30px;
    backdrop-filter: blur(5px);
  }

  #navSections > a {
    transition: all 0.2s linear;
  }
</style>

<script>
  const navSections = document.querySelector("#navSections");
  let currentSection = "";
  const isScrollY = () => {
    const children = navSections?.children;
    if (children) {
      for (let i = 0; i < children.length; i++) {
        children[i].classList.remove("bg-gray-900");
      }
    }
    if (window.scrollY >= 0 && window.scrollY <= 400) {
      currentSection = "about";
      if (children) {
        children[0].classList.add("bg-gray-900");
      }
    } else if (window.scrollY >= 400 && window.scrollY <= 1600) {
      currentSection = "projects";
      if (children) {
        children[1].classList.add("bg-gray-900");
      }
    } else if (window.scrollY >= 1600 && window.scrollY <= 2000) {
      currentSection = "skills";
      if (children) {
        children[2].classList.add("bg-gray-900");
      }
    } else if (window.scrollY >= 2000) {
      currentSection = "contact";
      if (children) {
        children[3].classList.add("bg-gray-900");
      }
    } else {
      currentSection = "";
    }
  };
  window.addEventListener("scroll", isScrollY);
</script>
