---
import Card from "./Card.astro";
import SectionHeader from "./SectionHeader.astro";
---

<div class="flex flex-col xs:pt-5 sm:pt-10" id="projects">
	<SectionHeader text="Proyectos" />
	<div class="flex flex-col gap-x-5 gap-y-5">
		<Card
			projectTitle="Optimizador de CV con IA - PerfectCV AI"
			projectFrontPage="/perfectcv-ai-mockup.png"
			projectDescription="Su función es simple, subes tu CV, añades la descripción del trabajo al que quieres postularte y la IA optimiza tu CV para que se ajuste mejor a la oferta de trabajo."
			projectSkills={[
				"https://www.svgrepo.com/show/354113/nextjs-icon.svg",
				"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHnJDLOcdm_0b6N6kNj-1OvO9KhKYgqIy0w&s",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2560px-Tailwind_CSS_Logo.svg.png",
				"https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/openai-icon.png",
			]}
			projectSkillsName={[
				"Next.js",
				"JavaScript",
				"Tailwind CSS",
				"OpenAI API",
			]}
			projectLink="https://perfectcv-ai.vercel.app"
		/>
		<Card
			projectTitle="App de reserva de citas - Bookly"
			projectFrontPage="/bookly-mockup.png"
			projectDescription="Página creada para reservar citas facilitando tanto al cliente como al dueño una gestión y administración de citas más ordenada y eficiente almacenando estas citas tanto en la web como en el calendario de Google."
			projectSkills={[
				"https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png",
				"https://upload.wikimedia.org/wikipedia/commons/a/a8/NestJS.svg",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2560px-Tailwind_CSS_Logo.svg.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/2048px-Google_Calendar_icon_%282020%29.svg.png",
			]}
			projectSkillsName={[
				"Angular",
				"TypeScript",
				"PostgreSQL",
				"NestJS",
				"Tailwind CSS",
				"Google Calendar API",
			]}
			projectLink="https://bookly-39896.web.app/"
		/>
		<div class="flex max-sm:flex-col gap-5">
			<Card
				projectTitle="CutLink"
				projectDescription="Su función es simple, introduce un enlace largo en el campo, haz click en el boton shorten y este te proporciona un enlace más corto que te redirigira al mismo sitio que el enlace largo"
				projectFrontPage="/cutlink.png"
				projectSkills={[
					"https://www.svgrepo.com/show/354113/nextjs-icon.svg",
					"https://cdn.worldvectorlogo.com/logos/mongodb-icon-1-1.svg",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png",
				]}
				projectSkillsName={["Next.js", "MongoDB", "TypeScript"]}
				projectLink="https://cut-ly.vercel.app/"
			/>
			<Card
				projectTitle="GameVortex"
				projectFrontPage="/gamevortex-mockup.png"
				projectDescription="E-commerce de videojuegos, desarrollado con React y gestionado con Redux. Consume una API REST para la interacción con los datos, mientras que los usuarios y la información de productos se almacenan en Cloud Firestore. Además, los pagos se procesan mediante la integración de Stripe."
				projectSkills={[
					"https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1024px-React.svg.png",
					"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHnJDLOcdm_0b6N6kNj-1OvO9KhKYgqIy0w&s",
					"https://brandeps.com/logo-download/F/Firebase-logo-02.png",
					"https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1024px-Bootstrap_logo.svg.png",
					"https://images.stripeassets.com/fzn2n1nzq965/HTTOloNPhisV9P4hlMPNA/cacf1bb88b9fc492dfad34378d844280/Stripe_icon_-_square.svg?q=80&w=1082",
				]}
				projectSkillsName={[
					"React",
					"JavaScript",
					"Firebase",
					"Bootstrap",
					"Stripe",
				]}
				projectLink="https://gamevortex-7eca9.web.app/"
			/>
		</div>
	</div>
</div>
