---
import Card from "./Card.astro";
import SectionHeader from "./SectionHeader.astro";
---

<div class="flex flex-col" id="projects">
	<SectionHeader text="My Proyects"/>
	<div class="flex flex-col gap-20 sm:px-0">
		<Card
			projectTitle="GameVortex"
			projectFrontPage="../../public/gamevortex.png"
			projectSkills={[
				"https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1024px-React.svg.png",
				"https://static-00.iconduck.com/assets.00/redux-icon-2048x1945-ahvhunxp.png",
				"https://static-00.iconduck.com/assets.00/javascript-js-icon-2048x2048-nyxvtvk0.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1024px-Bootstrap_logo.svg.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/2048px-HTML5_Badge.svg.png",
				"https://static-00.iconduck.com/assets.00/file-type-css-icon-1806x2048-r5fwjl3p.png",
				"https://static-00.iconduck.com/assets.00/firebase-icon-1492x2048-zznoc9pm.png",
			]}
			projectLink="https://gamevortex-7eca9.web.app/"
		/>
		<Card
			projectTitle="UniCourse"
			projectFrontPage="../../public/uni-course.png"
			projectSkills={[
				"https://vitejs.dev/logo.svg",
				"https://static-00.iconduck.com/assets.00/mongodb-original-icon-921x2048-hvrb89lu.png",
				"https://static-00.iconduck.com/assets.00/javascript-js-icon-2048x2048-nyxvtvk0.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1024px-Bootstrap_logo.svg.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/2048px-HTML5_Badge.svg.png",
				"https://static-00.iconduck.com/assets.00/file-type-css-icon-1806x2048-r5fwjl3p.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/2048px-Git_icon.svg.png",
			]}
			projectLink="https://tienda-universae.onrender.com"
		/>
		<Card
			projectTitle="UniLauncher"
			projectFrontPage="../../public/uni-launcher.png"
			projectSkills={[
				"https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Apache_NetBeans_Logo.svg/1776px-Apache_NetBeans_Logo.svg.png",
				"https://cdn-icons-png.flaticon.com/512/226/226777.png",
				"https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/JSON_vector_logo.svg/1024px-JSON_vector_logo.svg.png"
			]}
			projectLink="../../public/uni-launcher-video.mp4"
		/>
	</div>
</div>

<style></style>
