---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Acme&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Permanent+Marker&family=Rock+Salt&display=swap"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/ae5f71a2c9.js" crossorigin="anonymous"></script>
		<title>Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Merienda", sans-serif;
		font-weight: 400;
		font-style: normal;
		background-size: 224px;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	#title-section {
		font-family: "Rock Salt", cursive;
		font-weight: 400;
		font-style: normal;
	}

	@tailwind utilities;

	@layer utilities {
		.drop-cap::first-letter {
			@apply text-6xl font-bold float-left mr-2 leading-tight text-indigo-600;
			line-height: 1;
		}
	}
</style>
